@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

body{
    font-family: 'Dosis', sans-serif;
    background: lightblue;
    padding: 50px;
    margin: 30px;
    font-size: 15.789px;
}
.page{
    background: whitesmoke;
    margin: 100px 300px;
    text-align: center;
    padding: 20px;
}
button{
    padding: 8.5px;
    margin: 10px;
    background: lightgoldenrodyellow;
    color: black;
    border-color: black;
}